
<style>
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}

.lps-faq-videos h2 {
  font-size: 3.5rem;
}
.lps-faq-videos p {
  text-transform: uppercase;
  margin-bottom: 0;
}
.lps-faq-videos .faq-info-wrapper {
  border-top: 1px solid var(--black);
}

</style>

<section id="lps-about-{{ section.id }}" class="lps-about lps-tabs page-width section-{{ section.id }}-padding">
  
  <ul class="row nav nav-tabs card-header-tabs" style="margin-left: -7.5px; margin-right: -7.5px;" data-bs-tabs="tabs">
    <li class="nav-item col-12 col-md-4 mb-3">
      <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#products">Products</a>
    </li>
    <li class="nav-item col-12 col-md-4 mb-3">
      <a class="nav-link" data-bs-toggle="tab" href="#other">Other</a>
    </li>
    <li class="nav-item col-12 col-md-4 mb-3">
      <a class="nav-link" data-bs-toggle="tab" href="#customerservice">Customer service</a>
    </li>
  </ul>
  
  <div class="row">
    <div class="col-12 tab-content mt-3">
      <div class="tab-pane active" id="products">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586817483?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>Which is the most playful board? Stomper or Sender?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586817731?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>Why do you have carbon strips in your boards?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586818109?title=0&byline=0&portrait=0&playbar=0" width="640"
                  height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>Why ride ride a soft board instead of stiff?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586818451?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>Why should you get a lobster board?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586818781?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>Why would you go wide?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586815722?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What board is best for beginner?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586815928?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What does sidekick do?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586816458?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What kind of riding is the Halldor pro for?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586816614?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What size board do you ride?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586817239?title=0&byline=0&portrait=0&playbar=0" width="640"
                  height="360" frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What's up with Cream?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586817001?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What's up with your pro model binding?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="tab-pane" id="other">
        <div class="row">
          <div class="col-12 mb-3 mt-5">
            <h2>FAQ OTHER</h2>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586815543?title=0&byline=0&portrait=0&playbar=0" width="640"
                  height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>How do I get on cream TV?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586816116?title=0&byline=0&portrait=0&playbar=0" width="640"
                  height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>What is your stance?</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="outlined-block h-100">
              <div class="ratio ratio-1x1">
                <iframe src="https://player.vimeo.com/video/586815380?title=0&byline=0&portrait=0" width="640" height="640"
                  frameborder="0" allowfullscreen></iframe>
              </div>
              <div class="faq-info-wrapper p-3 px-md-4">
                <p>How did lobster start?</p>
              </div>
            </div>
          </div>
        </div>
          
      </div>

      <div class="tab-pane" id="customerservice">
        <div class="row">
          <div class="col-12">
            <script type="text/javascript" async src="https://cdn.reamaze.com/assets/reamaze.js"></script>
            <script type="text/javascript">
              var _support = _support || { 'ui': {}, 'user': {} };
              _support['account'] = 'lobstersnowboards';
            </script>
            <div data-reamaze-embed="kb"></div>
          </div>
        </div>                 
      </div>

    </div>
  </div>
  
</section>

{% comment %} <section style="background-color: red" id="lps-about-{{ section.id }}" class="lps-about lps-tabs page-width section-{{ section.id }}-padding">

  <ul class="row nav nav-tabs card-header-tabs" style="margin-left: -7.5px; margin-right: -7.5px;" data-bs-tabs="tabs">
    <li class="nav-item col-4 mb-3">
      <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#products">Products</a>
    </li>
    <li class="nav-item col-4 mb-3">
      <a class="nav-link" data-bs-toggle="tab" href="#other">Other</a>
    </li>
    <li class="nav-item col-4 mb-3">
      <a class="nav-link" data-bs-toggle="tab" href="#senders">Customer Care</a>
    </li>
  </ul>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817483?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Which is the most playful board? Stomper or Sender?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817731?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why do you have carbon strips in your boards?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818109?title=0&byline=0&portrait=0&playbar=0" width="640"
            height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why ride ride a soft board instead of stiff?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818451?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why should you get a lobster board?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818781?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why would you go wide?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815722?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What board is best for beginner?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815928?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What does sidekick do?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586816458?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What kind of riding is the Halldor pro for?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586816614?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What size board do you ride?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817239?title=0&byline=0&portrait=0&playbar=0" width="640"
            height="360" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What's up with Cream?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817001?title=0&byline=0&portrait=0" width="640" height="640"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What's up with your pro model binding?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="other">
    <div class="row">
      <div class="col-12 mb-3 mt-5">
        <h2>FAQ OTHER</h2>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <div class="outlined-block h-100">
          <div class="ratio ratio-1x1">
            <iframe src="https://player.vimeo.com/video/586815543?title=0&byline=0&portrait=0&playbar=0" width="640"
              height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="faq-info-wrapper p-3 px-md-4">
            <p>How do I get on cream TV?</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <div class="outlined-block h-100">
          <div class="ratio ratio-1x1">
            <iframe src="https://player.vimeo.com/video/586816116?title=0&byline=0&portrait=0&playbar=0" width="640"
              height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="faq-info-wrapper p-3 px-md-4">
            <p>What is your stance?</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <div class="outlined-block h-100">
          <div class="ratio ratio-1x1">
            <iframe src="https://player.vimeo.com/video/586815380?title=0&byline=0&portrait=0" width="640" height="640"
              frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="faq-info-wrapper p-3 px-md-4">
            <p>How did lobster start?</p>
          </div>
        </div>
      </div>
    </div>
  
  <div class="row">
    <div class="col-12 mb-3 pb-3">
      <a class="btn-about-title">PRODUCTS</a>
      <a class="btn-about-title" href="#other">OTHER</a>
      <a class="btn-about-title" href="#customerservice">CUSTOMER SERVICE</a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817483?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Which is the most playful board? Stomper or Sender?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817731?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why do you have carbon strips in your boards?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818109?title=0&byline=0&portrait=0&playbar=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why ride ride a soft board instead of stiff?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818451?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why should you get a lobster board?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586818781?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>Why would you go wide?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815722?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What board is best for beginner?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815928?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What does sidekick do?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586816458?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What kind of riding is the Halldor pro for?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586816614?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What size board do you ride?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817239?title=0&byline=0&portrait=0&playbar=0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What's up with Cream?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586817001?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What's up with your pro model binding?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="other">
    <div class="col-12 mb-3 mt-5">
      <a class="btn-about-title">PRODUCTS</a>
      <a class="btn-about-title" href="#other">OTHER</a>
      <a class="btn-about-title" href="#customerservice">CUSTOMER SERVICE</a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815543?title=0&byline=0&portrait=0&playbar=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>How do I get on cream TV?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586816116?title=0&byline=0&portrait=0&playbar=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>What is your stance?</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 mb-4">
      <div class="outlined-block h-100">
        <div class="ratio ratio-1x1">
          <iframe src="https://player.vimeo.com/video/586815380?title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="faq-info-wrapper p-3 px-md-4">
          <p>How did lobster start?</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row" id="customerservice">
    <div class="col-12 mb-3 mt-5">
      <a class="btn-about-title">PRODUCTS</a>
      <a class="btn-about-title" href="#other">OTHER</a>
      <a class="btn-about-title" href="#customerservice">CUSTOMER SERVICE</a>
    </div>
    <div class="col-12">
      <script type="text/javascript" async src="https://cdn.reamaze.com/assets/reamaze.js"></script>
      <script type="text/javascript">
        var _support = _support || { 'ui': {}, 'user': {} };
        _support['account'] = 'lobstersnowboards';
      </script>
      <div data-reamaze-embed="kb"></div>
    </div>
  </div> 
      

</section> {% endcomment %}

{% schema %}
{
  "name": "LPS FAQ Videos",
  "tag": "section",
  "class": "lps-faq-videos-section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "FAQ Videos"
    },
    {
      "type": "paragraph",
      "content": "Code editable in sections/LPS-faq-videos.liquid"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "LPS FAQ Videos"
    }
  ]
}
{% endschema %}