
<style>
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>

{% if cart.currency.iso_code == "USD" %}{% assign site = 'lobster_us' %}{% endif %}
{% if cart.currency.iso_code == "EUR" %}{% assign site = 'lobster_eu' %}{% endif %}
{% if cart.currency.iso_code == "CAD" %}{% assign site = 'lobster_ca' %}{% endif %}

<section id="lps-proform-form-{{ section.id }}" class="lps-proform-form lps-tabs page-width section-{{ section.id }}-padding">
	<div class="outlined-block p-5">
		<div class="row">
			<div class="col-12 mt-3 text-center">
				<h1>Lobster Senders Login</h1>
			</div>
			<div class="col-12 form-default">
				<p>If you have previously applied and been accepted for our Lobster Senders Program, please login below:</p>
				{% form 'customer_login' %}
				{{ form_errors | default_errors }}
				<div class="row mt-3">
					<div class="col-md-5 mb-4">
						<div class="email">
							<input class="form-control" type="email" name="customer[email]" placeholder="Email">
						</div>
					</div>
					<div class="col-md-5 mb-4">
						<div class="password">
							<input class="form-control" type="password" name="customer[password]" placeholder="Password">
						</div>
					</div>
					<div class="col-2 mb-4 text-right">
						<div class="submit">
							<input class="button btn btn-cyan" type="submit" value="Sign in">
						</div>
					</div>
				</div>
				{% endform %}
			</div>
			<div class="col-12 mt-5 text-center">
				<h1>Lobster Senders Application</h1>
			</div>
			<div class="col-12">
				<div class="form-default">
					<form id="proform_form" action="https://lowpressurestudio.com/shopify_apps/add_proform_customer/index.php" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="error-msg-col col-12 mt-4 mb-2" style="display: none;">
								<div class="col-12">
									<div class="py-3 px-4">
										<h4>I'm sorry, there has been an error:</h4>
										<p class='error-msg'></p>
									</div>
								</div>
							</div>
							<div class="col-12 mt-4 mb-2">
								<p>The Lobster Senders Community is a membership program for qualified outdoor professionals, media partners, and outdoor industry partners. Membership is by application, is not guaranteed and can be revoked at any time. If you are interested in applying, please fill out the form below to start the application. We will usually get back to you within 5 working days.</p>
								<p>Use your work issued email address when creating and applying for your account.</p>
							</div>
							<div class="col-12 mt-0 mb-4">
								<p>
									<input type="checkbox" class="" id="terms_agreed" required>&nbsp;&nbsp;
									<label for="terms_agreed">Please agree to the</label>&nbsp;<span><a href="/pages/proform-terms-conditions" style="text-decoration: underline;">Terms and Conditions</a></span>
								</p>
							</div>
							<div class="col-12 text-right mb-2">
								<div class="col-12">
									<p style="font-size: 1rem;">* Required Fields</p>
								</div>
							</div>
							<div class="col-md-6 mb-4">
								<input type="hidden" name="store" id="store" value="{{ site }}">
								<input type="text" name="customer_first_name" class="form-control" id="customer_first_name" placeholder="First Name *" required>
							</div>
							<div class="col-md-6 mb-4">
								<input type="text" name="customer_last_name" class="form-control" id="customer_last_name" placeholder="Last Name *" required>
							</div>
							<div class="col-12 mb-4">
								<input type="email" name="customer_email" class="form-control" id="customer_email" placeholder="Work Email *" required>
							</div>
							<div class="col-12 mb-4">
								<input type="password" name="customer_password" class="form-control" id="customer_password" placeholder="Password *" required>
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_company" class="form-control" id="customer_company" placeholder="Company *" required>
							</div>
							<div class="col-12 mb-4">
								<textarea class="form-control" name="customer_job" id="customer_job" placeholder="Job Title / Description *" required rows="4"></textarea>
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_address_1" class="form-control" id="customer_address_1" placeholder="Address line 1 *" required>
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_address_2" class="form-control" id="customer_address_2" placeholder="Address line 2">
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_city" class="form-control" id="customer_city" placeholder="City *" required>
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_postcode" class="form-control" id="customer_postcode" placeholder="Zip / Postcode *" required>
							</div>
							<div class="col-12 mb-4">
								<select class="form-control" id="customer_country" name="customer_country" required>
									<option value="" disabled selected>Country *</option>
									{{ country_option_tags }}
								</select>
							</div>
							<div class="col-12 mb-4">
								<input type="text" name="customer_phone" class="form-control" id="customer_phone" placeholder="Phone * (format: +33123456789)" required>
							</div>
							<div class="col-12 mb-4">
								<select class="form-control" id="customer_pro_category" name="customer_pro_category" required>
									<option value="" disabled selected>Pro Category *</option>
									<option>Snowboard Instructor</option>
									<option>Shop Staff</option>
									<option>Shop Owner</option>
									<option>Park Shaper</option>
									<option>Park Head Shaper</option>
									<option>Resort Staff / Liftie</option>
									<option>Resort Bartender</option>
									<option>Resort Hotel Staff</option>
									<option>Resort Restaurant Staff</option>
									<option>Outdoor Industry Employee</option>
									<option>Outdoor Non Profit Employee</option>
									<option>Media</option>
									<option>Photographer/Videographer</option>
									<option>AM Rider</option>
									<option>Independent Sales Rep</option>
									<option>Snowboard Club Member</option>
									<option>Social Media Influencer</option>
									<option>Other (specify in comments)</option>
								</select>
							</div>
							<div class="col-12 mb-4">
								<textarea class="form-control" name="customer_comments" id="customer_comments" placeholder="Comments" rows="2"></textarea>
							</div>
							<div class="col-12 mt-4 mb-4">
								<h4>Upload Application Document:</h4>
								<p class="m-0 mt-2">Please upload one of the following:</p>
								<p class="m-0 mt-2"> — snowboard instructor ID</p>
								<p class="m-0 mt-2"> — snowboard club membership</p>
								<p class="m-0 mt-2"> — copy of working contract</p>
								<p class="m-0 mt-2"> — copy of pay slip</p>
								<p class="m-0 mt-2"> — other document for proof of profession</p>
							</div>
							<div class="col-12 mt-0 mb-4">
								<input style="height:auto;" type="file" class="form-control" name="customer_pro_proof" id="customer_pro_proof" required>
							</div>
						</div>
						<div class="row mt-4 mb-5">
							<div class="col-auto">
								<div class="form-group">
									<button id="submit_form_button" class="button btn btn-cyan" type="submit">Apply</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
  
$(document).ready(function() {
  const urlParams = new URLSearchParams(window.location.search);
  const param_x = urlParams.get('err');
  
  console.log(param_x);
  
  if (param_x != '' && param_x != null) {
    $('.error-msg').html(param_x);
    $('.error-msg-col').show();
    
	setTimeout(
      function() {
        $('html, body').animate({
            scrollTop: ($('.error-msg').first().offset().top - 200)
        },500);
      }, 1500);    
  }  
  
  setTimeout(
    function() {
      $("#customer_country option[value='Norway']").remove();
      $("#customer_country option[value='Switzerland']").remove();
      $("#customer_country option[value='Iceland']").remove();
  }, 1500);
  
});

</script>



{% schema %}
{
  "name": "LPS Proform Form",
  "tag": "section",
  "class": "lps-proform-form-section",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Proform Form"
    },
    {
      "type": "paragraph",
      "content": "Code editable in sections/LPS-proform-form.liquid"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "LPS Proform Form"
    }
  ]
}
{% endschema %}